{% extends "page.html" %}

{% block section-header %}
    <p>This page lists all tournaments with their current standings and links to match results.</p>
{% endblock %}

{% block content %}

    <div class="is-flex is-flex-wrap-wrap is-gap-1	">
        {% for tournament in tournaments %}
            {% if tournament.standing %}
                <div>
                    <span class="subtitle"> <a href="{% url 'match-results' tournament.standing.pk %}">{{ tournament.verbose_name }} </a></span>
                    {% include "includes/_standing-table.html" with tournament=tournament only %}
                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
