{% extends "page.html" %}

{% block section-header %}
    <p>This page displays comprehensive player statistics including win rates and match counts across all tournaments.</p>
{% endblock %}
{% block content %}
    <table class="table">
        <th>Name</th>
        <th>Win</th>
        <th>Total</th>
        <th>Win rate</th>
        {% for p in players %}
            <tr>
                <td><a href="{% url 'detail-player' p.pk %}">{{ p }}</a></td>
                <td>{{ p.won_count}}</td>
                <td>{{ p.matchs_count }}</td>
                <td>{{ p.winrate }}</td>
            </tr>
        {% endfor %}

    </table>


    <div class="table-container">
        <table class="table is-narrow is-hoverable">
            <th>win / lost</th>
            {% for head in players%}
                <th><a href="{% url 'detail-player' head.pk %}">{{head}}</a></th>
            {% endfor %}
            {% for stats_row in stats_table %}
                <tr>
                    {% for stats in stats_row %}
                        {% if forloop.first %}
                            <td class="{{ stats.css_classes }}"><a href="{% url 'detail-player' stats.player.pk %}">{{stats.val}}</a></td>
                        {% else %}
                            <td class="{{ stats.css_classes }}">{{stats.val}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
